html, body{
  margin: 0;
  padding: 0 10% 10% 10%;
}

#enchant-stage {
  background-image: url("./images/boxes2.png");
  background-size: cover;
  cursor: url("./images/cat-treat.png"), pointer;
}

.restart {
  position: absolute;
}

input[type=button] {
  font-size: medium;
  background-color: chocolate;
  border-radius: 10px;
  color: whitesmoke;
}
