html, body{
  margin: 0;
  padding: 5% 10% 10% 10%;
}

#enchant-stage {
  background-image: url("./images/boxes2.png");
  background-size: cover;
  cursor: url("./images/cat-treat.png"), pointer;
}

.restart {
  position: absolute;
}

input[type=button] {
  background-color: darkgoldenrod;
  border-radius: 3px;
  color: whitesmoke;
  display: inline-block;
  font: 14px "Trebuchet MS", sans-serif;
  padding: 8px 16px;
}
