body{
  background-image: url("./images/body_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 5% 35% 10% 35%;
}

#enchant-stage {
  background-image: url("./images/boxes2.png");
  background-size: cover;
  border-style: groove;
  border-radius: 270px;
  cursor: url("./images/cat-treat.png"), pointer;
}

#enchant-stage div {
  border-style: groove;
  border-radius: 270px;
  /*margin: 0% 0% 0% 25%;*/
}

.restart {
  display: flex;
  flex-direction: column;
  position: absolute;
}

input[type=button] {
  background-color: darkgoldenrod;
  border-radius: 3px;
  color: whitesmoke;
  display: inline-block;
  font: 14px "Trebuchet MS", sans-serif;
  padding: 8px 16px;
}
